body {
  background-color: #f5f5f5;
  margin: 0px;
  font-family: 'Biryani', sans-serif;
}

.home-header {
  margin-top: 10px;
  margin-bottom: 21px;
}

.main-transaction-header {
  margin-top: 10px;
  margin-bottom: 21px;
  float:left;
  font-size: 26px;
}

h2 {
  margin-top: 35px;
}

.main {
  position: relative;
  color: #363636;
  font: regular 400;
}

.navigation {
  display: inline-block;
  float: left;
  width: 14px;
  height: 1000px;
  border: 0px;
  padding: 30px;

  background-color: white;
}

.home-column1 {
  display: inline-block;
  position: absolute;
  float: left;
  width: 650px;
  height: 680px;
  border: 0px;
  padding: 30px;
  visibility: visible;
}

.transaction-column1 {
  display: inline-block;
  position: absolute;
  float: left;
  width: 650px;
  height: 680px;
  border: 0px;
  padding: 30px;
  /* display: none; */
  visibility: hidden;
}

.welcome-box {
  position: relative;
  width: 550px;
  border: 0px;
  margin-top: 20px;
  padding: 30px 0px 30px 25px;
  margin-left: 0px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #8ed1dc 0%, #e3f4f6 100%);
  text-align: left;
  font-size: 20px;
  box-shadow: rgba(0,0,0,0.05);
}

/* ---user summary---begin--- */
.summary {
  float:left;
  width: 156px;
  height: 40px;
  border: 100px;
  padding: 20px 0px 30px 15px;
  margin-left: 0px;
  margin-right: 30px;
  background-color: white;
  text-align: left;
  font-size: 11px;
  box-shadow: rgba(0,0,0,0.05);
}

.amount {
  display: block;
  margin-top: 0px;
  font-size: 20px;
}
/* ---user summary---end--- */


/* ---accounts block---begin--- */
.account-header {
  display: inline-block;
  float: left;
  height: 500px;
}

.manage-button {
  float: right;
  margin-top: 35px;
  margin-right: 75px;
  width: 200px;
  height: 35px;
  background-color: #1CA3BA;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  box-shadow: rgba(0,0,0,0.05);
}
.trans-all-button {
  display: inline-block;
  /* float: right; */
  margin-top: 30px;
  margin-bottom: 6px;
  /* margin-right: 20px; */
  margin-left: 118px;
  width: 100px;
  height: 30px;
  background-color: #1CA3BA;
  text-align: center;
  border-radius: 25px;
  font-size: 12px;
  color: white;
  box-shadow: rgba(0,0,0,0.05);
}

.trans-inflow-button, .trans-outflow-button {
  display: inline-block;
  /* float: right; */
  margin-top: 30px;
  /* margin-right: 20px; */
  /* margin-left: 30px; */
  width: 100px;
  height: 30px;
  /* background-color: #1CA3BA; */
  background-color: white;
  text-align: center;
  border-radius: 25px;
  font-size: 12px;
  /* color: white; */
  color: #1CA3BA;
  box-shadow: rgba(0,0,0,0.05);
  border: 1px solid #1CA3BA;
}


.account-table {
  float: left;
  margin-left: -113px;
  margin-top: 15px;
  width: 575px;
  height: 65px;
  background-color: white;
  font-size: 18px;
  box-shadow: rgba(0,0,0,0.05);
}

.account-info1 {
width: 20%;
}

.account-info2 {
width: 30%;
}

.account-info3 {
padding-left: 130px;
}
/* ---accounts block---end--- */

.home-column2 {
  display: inline-block;
  position: absolute;
  float: left;
  width: 730px;
  height: 740px;
  left: 710px;
  padding: 0px;
  visibility: visible;
}

.trans-column2 {
  display: inline-block;
  position: absolute;
  float: left;
  width: 610px;
  height: 840px;
  left: 710px;
  padding: 0px;
  margin-left: 55px;
  visibility: hidden;
}

.trans-container2{
display: inline-block;
position: absolute;
margin-top: 116px;
margin-left: 35px;
background-color: white;
height: 70%;
width: 90%;
}

.trans-form-col{
  margin-left: 90px;
}

.trans-header {
  display: inline-block;
  text-align: center;
  width: 556px;
  /* margin-left: 25px; */
  font-size: 24px;
  margin-bottom: 15px;
  box-shadow: rgba(0,0,0,0.05);
}

.new-trans-title{
  font-size: 15px;
}
.type-of-trans {
  width: 380px;
  height: 30px;
  margin-bottom: 13px;
  font-size: 14px;
  box-shadow: rgba(0,0,0,0.05);
}

.new-trans-input {
  width: 380px;
  height: 25px;
  margin-bottom: 13px;
  font-size: 14px;
  box-shadow: rgba(0,0,0,0.05);

}

.trans-input-button {
  /* float: right; */
  /* margin-top: 35px;
  margin-right: 25px; */
  width: 160px;
  height: 35px;
  background-color: #1CA3BA;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  box-shadow: rgba(0,0,0,0.05);
}


.container2{
display: inline-block;
position: absolute;
margin-top: 116px;
margin-left: 35px;
background-color: white;
height: 70%;
width: 90%;
}

.trans-container{
/* display: inline-block;
position: absolute; */
margin-top: 20px;
/* margin-left: 35px; */
padding-top: 20px;
background-color: white;
height: 70%;
width: 90%;
}


/* ---recent transactions block---begin--- */
.transaction-header {
  display: inline-block;
  float: left;
  margin-left: 25px;
  font-size: 25px;
  margin-bottom: 15px;
  box-shadow: rgba(0,0,0,0.05);
}

.transaction-title{
  width: 92%;
  border-bottom: 1px solid #F6F3F1;
  margin-left: 25px;
  left: 10px;
}

.transaction-summary {
  width: 92%;
  border-bottom: 1px solid #F6F3F1;
  margin-left: 25px;
  left: 10px;
}

.trans-title-date {
  width: 20%;
}

.trans-title-account {
  width: 25%;
}

.trans-title-payee {
  width: 30%;
}

.trans-title-inflow{
  width: 25%;
}

.trans-title-outflow{
  width: 0%;
}

.trans-input{
  width: 92%;
  border-bottom: 1px solid #cccccc;
  margin-left: 25px;
  left: 10px;
  font-size: 13.5px;
}

.trans-input-date{
  width: 17%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.trans-input-account {
  width: 22.5%;
}

.trans-input-payee {
  width: 26%;
}

.trans-input-inflow{
  width: 22%;
}

.trans-input-outflow{
  width: 12%;
}



.transaction-button {
  float: right;
  margin-top: 35px;
  margin-right: 25px;
  width: 200px;
  height: 35px;
  background-color: #1CA3BA;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  box-shadow: rgba(0,0,0,0.05);
}

.titleDate{
  width: 20px;
}

.titlePayee {
  width: 40%;
}

.titleInflow{
  width: 25%;
}

.titleOutflow{
  width: 10%;
}

.transactionsInput{
  width: 92%;
  border-bottom: 1px solid #cccccc;
  margin-left: 25px;
  left: 10px;
  font-size: 13.5px;
}

.transactionsInputDate{
  width: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.transactionsInputPayee {
  width: 40.5%;
}

.transactionsInputInflow{
  width: 26%;
}

.transactionsInputOutflow{
  width: 10%;
}
/* ---recent transactions block---end--- */


/* ---page icons---begin--- */
.elephant-icon {
  height: 65px;
  width: 65px;
  margin-left: -25px;
  margin-top: -20px;
}

.dashboard-icon {
  height: 35px;
  width: 35px;
  margin-left: -15px;
  margin-top: 205px;
  border-left: 4px solid #1CA3BA;
  cursor: pointer;
}

.transactions-icon {
  height: 35px;
  width: 35px;
  margin-left: -15px;
  margin-top: 20px;
  cursor: pointer;
}
.profile-icon {
  height: 35px;
  width: 35px;
  margin-left: -15px;
  margin-top: 25px;
  cursor: pointer;
}

.close-icon{
position:absolute;
top: 0px;
right: 0px;
height: 13px;
width: 13px;
margin: 13px;
cursor: pointer;
}

.account-icon {
    height: 30px;
    width: 30px;
    padding-left: 10px;
}
/* ---page icons---end--- */
